.products-container {
  height: 510px;
  width: 300px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
  
}
.products-container img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}

.product-info{
    margin : 0 14px;
}
.product-info p, h3,h4{
    margin: 5px 0 0 0;
}

.btn-cart{
    width: 100%;
   background-color: #FFE0B3;
   border : 0;
   position: absolute;
   bottom: 0;
   padding:0;
   border-radius: 0 0 8px 8px;
}