.container-login{
    background-image: url('../../Assets/images/courses-bg.jpg');
    padding: 100px 0;
    height: 100vh;
}

.form{
    width: 40%;
    background-color: rgba(250,250,250,0.1);
    padding: 60px 40px;
    text-align: center
}
.login-title{
    width: 40%;
    color: #fff;
    background-color: rgba(250,250,250,0.2);
    padding: 10px 0;
    text-align: center;
    line-height: 24px;
}

@media screen and (max-width:992px){
    .form {
        width: 100%;
    }
    .login-title{
        width: 100%;
    }
}