.header-container{
    position:fixed;
    top:0;
    z-index: 12;
    width: 100%;
}
.dark{
background-color: rgba(22,34,57,0.95);
}
.light{
   background-color: rgba(248,249,250,0.95);
}
.dark-font{
color: rgba(22,34,57,0.95);
}
.light-font{
   color: rgba(248,249,250,0.95);
}

.spacing{
    letter-spacing: 3px;
    font-size: 28px;
}
.name{
    text-decoration: none;
}
.nav-a a:hover, .nav-a a:focus{
    border: 2px solid #f5a425;
    color:#f5a425;
}

.nav-a a{
    text-decoration: none;
    padding: 5px 15px;
}
